<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>::Dashboard::</title>

<link rel="stylesheet" type="text/css"
	href="/space-a-spring-client-app/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="/space-a-spring-client-app/css/index.css">
<link rel="stylesheet" type="text/css"
	href="/space-a-spring-client-app/css/general.css">

</head>



<body>
	<header>
		<nav class="navbar navbar-expand-sm bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"
					onclick="switchSubPart('idWelcomeSubPart')"> <b>Spac'A
						TABLEAU BORD</b></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#"
							onclick="switchSubPart('idWelcomeSubPart')">Utilisateurs</a></li>
						<li class="nav-item"><a class="nav-link" href="#"
							onclick="switchSubPart('idSubPartForm')">Associations</a></li>
						<li class="nav-item"><a class="nav-link" href="#"
							onclick="switchSubPart('idSubPartFormSub')">Abonnements</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div id="mainContent" class="mainContentUnderNavBar">
		<!-- Main View -->
		<div class="container">
			<div class="members">
				<h3>Liste des abonnements</h3>
				<form method="post">
				<table id="associationsTab">
					<thead>
						<tr>
							<th>Id</th>
							<th>Titre</th>
							<th>Prix</th>
							<th>Descrition</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tr th:each="sub : ${subs}">
						<td><span th:text=${sub.id}></span></td>
						<td><input type="text" th:value="${sub.title}"/></td>
						<td><input type="text" th:value="${sub.price}"/></td>
						<td><textarea rows="5" cols="20" th:text="${sub.description}"></textarea></td>
						<td><a th:href="@{/editSub(id=${sub.id})}">Terminer</a></td>
					</tr>
				</table>
				</form>
			</div>
		</div>

	</div>

	<script type="text/javascript"
		src="/space-a-spring-client-app/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="/space-a-spring-client-app/js/general.js"></script>

</body>
</html>