.dashboard-admin {
	background-color: #d9d9d999;
	height: fit-content;
	width: 60%;
	margin: 10px;
	margin-top: 8rem;
	border: 2px;
	/* opacity: 0.8; */
	box-shadow: 12px 5px 20px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-dashbord-admin {
	margin-top: 1rem;
	display: flex;
	align-items: center;
}

.btn-dashbord-admin h3 {
	margin-right: 1rem;
}


.create-edite-delete {
	margin: 1rem 2rem 1rem 2rem;
	background-color: #e1dedee3;;
	height: fit-content;
	border: 2px;
	/* 	position: absolute; */
	width: fit-content;
    box-shadow: 2px 2px 10px 0px;
	border-radius: 15px;
}

.titles {
	margin-top: 1rem;
	text-align: center;
	font-weight: bold;
}

.titles h4, .titles h3 {
	font-weight: bold;
}

.btn-dashbord-admin-create h3 {
	margin-right: 10rem;
}

.btn-dashbord-admin-create {
	display: flex;
	align-items: center;
}

.members-list h3 {
	margin-top: 1rem;
}

.section-table {
	display: flex;
	justify-content: center;
	align-items: center;
}

.data-table {
	border: none;
	margin: 10px;
	text-align: center;
}