.cadreForm1{
	background-color: #D9D9D9;
	min-height: 500px; 
	width: 90%;
	opacity:0.8;
	box-shadow:12px 5px 20px;
	border-radius: 25px;
	
}

.pourtravail2{
	background-color: white;
	height: fit-content; 
	width: 90%;

}