

body{
	background: url("#{resource['images/bg-ciel.png']}");
	background-repeat: no-repeat;
	background-size: cover;
}

/* .picture-bg {
	
} */

/*NavBar*/

.navbar{
    background-color: #FFFFFF;
    font-size: 0.8rem;
}

.navbar-spaca .nav-link{
    font-family: 'Open Sans', sans-serif;
    color: #1A3EB8;
}

.logo img{
    height: 80px;
}

.navbar-asso .nav-link{
    font-family: 'Courier New', Courier, monospace;
    color: green;
}

/*Contain*/
.main-content{
	min-height: 100vh;
	margin-top: 100px;
	display:flex;
		justify-content: center;
}


.pourtravail{
	background-color: white;
	height: fit-content; 
	width: 600px;

}

.cadreForm{
	background-color: #d9d9d999;
	height: fit-content; 
	width: 70%;
	margin: 50px;
	/* opacity: 0.8; */
	box-shadow: 12px 5px 20px;
	border-radius: 25px;
}
.container-cadreForm{
	margin-top : 20px;
}

.form-group {
	margin-top: 20px;
	
}
.profile-pic{
	
	width :500px;
	clip-path: circle();
    justify-self: center;
    object-fit: cover;
	
}

.window {
	background: #ffffff8c;
}



/*.index_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0;
  text-align: center;
  background-color: #3b4a6b;
  color: #ffffff;
  border-radius: 15px;
  padding: 25px;
}*/