* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
	color: rgb(18, 107, 190);
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 5rem;
	z-index: 200;
	background-color: white;
}

.mainContentUnderNavBar {
	margin-top: 6rem;
}

.defaultSubPart {
	display: block;

}

.alternativeSubPart {
	display: none;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}